Decription=Start frp server
After=network-online.target

[Service]
Type=simple
User=frps
ExecStart=/var/lib/frp/frps -c /var/lib/frp/frps.ini
TimeoutStartSec=5
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
RequiredBy=network.target