Description=Start MC Server
After=network-online.target

[Service]
Type=simple
User=mcserver
WorkingDirectory=/var/lib/mcserver
ExecStart=/var/lib/mcserver/start
ExecStop=/var/lib/mcserver/stop
Restart=always
RemainAfterExit=yes

[Install]
WantedBy=default.target
