# /etc/systemd/system/frpc.service
[Unit]
Description=Start frpc client
After=network-online.target

[Service]
Type=simple
# No shell, non-root user
User=frp
ExecStart=/var/lib/frp/frpc -c /var/lib/frp/frpc.ini
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
