# ${HOME}/.config/systemd/user/frps.service
Decription=Start FRP server
After=network-online.target

[Service]
Type=simple
ExecStart=/var/lib/frp/frps -c /var/lib/frp/frps.ini
TimeoutStartSec=5
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
